      .snapchat_color {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: linear-gradient(180deg, #fffe00 0%, #f3f200 96.43%);
      }
      .youtube_color {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: linear-gradient(180deg, #ce1312 0%, #b01312 100%), #ce1312;
      }
      .linkedin_color {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: linear-gradient(180deg, #007ebb 0%, #007e9d 98.51%);
      }
      .google_color {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: linear-gradient(180deg, #f93f2d 0%, #c73f2d 100%);
      }
      .vine_color {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: linear-gradient(180deg, #00b687 0%, #008e87 100%);
      }
      .twitter_color {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: linear-gradient(180deg, #059ff5 0%, #059fc3 100%), #059ff5;
      }
      .facebook_color {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: linear-gradient(180deg, #39579A 0%, #2C4479 97.23%);
      }
      .instagram_color {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background: rgb(255,75,77);
      }